<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sumercé y tá</title>
    <link rel="stylesheet" href="/static/css/normalize.css" />
    <link rel="stylesheet" href="/static/css/header.css" />
    <link rel="stylesheet" href="/static/css/categories.css" />
    <link rel="stylesheet" href="/static/css/footer.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Caveat&display=swap" rel="stylesheet"/>
    <script src="https://kit.fontawesome.com/5cd85102cd.js" crossorigin="anonymous">
    </script>
  </head>

  <body>
    <header>
      <div class="cabecera">
        <p>Envios a todo Chile</p>
        <p><a href="#">Seguir mi pedido </a> | <a href="/contacto">Contáctanos</a></p>
      </div>
      <div class="cabecera-secundaria">
        <div class="logo-cabecera">
          <div class="bag-carrito">
            <a href="/carrito" class="iconos-header">
              <i class="fas fa-bars"></i>
            </a>
          </div>
          <a href="/" class="logo">
            <img src="/static/images/logo_de_inicio.png" alt="Logo" class="imagen-logo"/>
          </a>
          <div class="bag-carrito">
            <a href="#" class="iconos-header"><i class="fas fa-search"></i></a>
            <a href="/carrito" class="iconos-header"
              ><i class="fas fa-shopping-bag"></i>
            </a>
          </div>
        </div>
        <nav>
          <a href="#">
            <img
              src="/static/images/logo_de_inicio.png"
              alt="Logo"
              class="imagen-logo"
          /></a>

          <ul class="lista-header">
            <li><a href="#">Ropa</a></li>
            <li><a href="#">Deportivo</a></li>
            <li><a href="#">Accesorios</a></li>
            <li><a href="#">Mi Cuenta</a></li>
          </ul>
          <div class="lista-header">
            <form>
              <input type="text" class="busqueda" />
            </form>
            <a href="#"><i class="fas fa-shopping-bag"></i></a>
          </div>
        </nav>
      </div>
    </header>
    <main>
      <div class="select-menu">
       <form class="form-options">
          <h4>Camisas, blusas y poleras</h4>
          <p>Tallas</p>
          <div class="option">
            <input type="checkbox" id="xs" name="tallas" value="xs">
            <label for="xs"> XS</label>
          </div>
          <div class="option">
            <input type="checkbox" id="s" name="tallas" value="s">
            <label for="s"> S</label>
          </div>
          <div class="option">
            <input type="checkbox" id="m" name="tallas" value="m">
            <label for="m"> M</label>
          </div>
          <div class="option">
            <input type="checkbox" id="l" name="tallas" value="l">
            <label for="l"> L</label>
          </div>
          <div class="option">
            <input type="checkbox" id="xl" name="tallas" value="xl">
            <label for="xl"> XL</label>
          </div>
          <div class="option">
            <input type="checkbox" id="xll" name="tallas" value="xll">
            <label for="xll"> XLL</label>
          </div>
          

          <p>Tonalidades</p>
          <div class="option">
            <input type="checkbox" id="claro" name="tonalidades" value="claro">
            <label for="claro"> Claro</label>
          </div>
          <div class="option">
            <input type="checkbox" id="medio" name="tonalidades" value="medio">
            <label for="medio"> Medio</label>
          </div>
          <div class="option">
            <input type="checkbox" id="oscuro" name="tonalidades" value="oscuro">
            <label for="oscuro"> Oscuro</label>
          </div>
          <div class="option">
            <input type="checkbox" id="pasteles" name="tonalidades" value="pasteles">
            <label for="pasteles"> Pasteles</label>
          </div>
          <div class="option">
            <input type="checkbox" id="militar" name="tonalidades" value="militar">
            <label for="militar"> Militar</label>
          </div>
          <div class="option">
            <input type="checkbox" id="multicolor" name="tonalidades" value="multicolor">
          <label for="multicolor"> Multicolor</label>
          </div>
          <div class="option">
            <input type="checkbox" id="metalizados" name="tonalidades" value="metalizados">
            <label for="metalizados"> Metalizados</label>
          </div>
          

          <p>Tipo</p>
          <div class="option">
            <input type="checkbox" id="manga-larga" name="tipo" value="manga-larga">
            <label for="manga-larga"> Manga larga</label>
          </div>
          <div class="option">
            <input type="checkbox" id="deportivas" name="tipo" value="deportivas">
            <label for="deportivas"> Deportivas</label>
          </div>
          <div class="option">
            <input type="checkbox" id="top" name="tipo" value="top">
            <label for="top"> Top</label>
          </div>
          <div class="option">
            <input type="checkbox" id="manga-corta" name="tipo" value="manga-corta">
            <label for="manga-corta"> Manga corta</label>
          </div>
          <div class="option">
            <input type="checkbox" id="sin-manga" name="tipo" value="sin-manga">
            <label for="sin-manga"> Sin manga</label>
          </div>
          
          
       </form>
      </div>
      <div class="categories-folder">
        <div class="folder1">
         <article>
           <img src="/static/images/9.png" class="categories">
           <div class="description-box">
             <h3>Blusa manga corta</h3>
             <p class="precios">$$$.$$$</p>
             <button type="button">Comprar</button>
           </div>
       </article>
       <article>
         <img src="/static/images/10.png" class="categories">
         <div class="description-box">
           <h3>Blusa manga corta</h3>
           <p class="precios">$$$.$$$</p>
           <button type="button">Comprar</button>
        </div>
      </article>
      </div>
        <div class="folder2">
          <article>
            <img src="/static/images/11.png" class="categories">
            <div class="description-box">
              <h3>Blusa manga corta</h3>
              <p class="precios">$$$.$$$</p>
              <button type="button">Comprar</button>
            </div>
          </article>
          <article>
           <img src="/static/images/12.png" class="categories">
           <div class="description-box">
            <h3>Blusa manga corta</h3>
            <p class="precios">$$$.$$$</p>
            <button type="button">Comprar</button>
           </div>
          </article>
    
        </div>
        <div class="folder3">
          <article>
            <img src="/static/images/13.png" class="categories">
            <div class="description-box">
              <h3>Blusa manga corta</h3>
              <p class="precios">$$$.$$$</p>
              <button type="button">Comprar</button>
            </div>
           </article>
           <article>
            <img src="/static/images/14.png" class="categories">
            <div class="description-box">
              <h3>Blusa manga corta</h3>
              <p class="precios">$$$.$$$</p>
              <button type="button">Comprar</button>
             </div>
           </article>  
    
        </div>
      </div>
    </main>
    <footer>
      <div>
        <h6>Información</h6>
        <ul>
          <li><a href="#">Sobre nosotros</a></li>
          <li><a href="#">politica de datos</a></li>
          <li>
            <a href="#">
              <img src="/static/images/logo_sin_fondo.png" alt="Logo redondo" />
            </a>
          </li>
        </ul>
      </div>
      <div>
        <h6>Servicio al cliente</h6>
        <ul>
          <li><a href="#">¿Cómo comprar?</a></li>
          <li><a href="#">Envios</a></li>
          <li><a href="#">Cambios y devoluciones</a></li>
          <li><a href="#">Guia de tallas</a></li>
          <li><a href="#">Politicas de despacho</a></li>
          <li><a href="#">Terminos y condiciones de compra</a></li>
        </ul>
      </div>
      <div>
        <h6>Contactanos</h6>
        <ul>
          <li><a href="#">Escríbenos a nuestro whatsapp</a></li>
          <li><a href="#">#-####-####</a></li>
          <li><a href="#">Consultas por messenger</a></li>
          <li>
            <a href="mailto:sumercetiendaonline@gmail.com"
              >sumercetiendaonline@gmail.com</a
            >
          </li>
        </ul>
      </div>
      <div>
        <h6>Medios de pago</h6>
        <ul>
          <li>
            <a href="#"
              ><img src="/static/images/webpay.png" alt="Logo Webpay"
            /></a>
          </li>
          <li>
            <a href="#"
              ><img
                src="/static/images/mercadopago.png"
                alt="Logo Mercado Pago"
            /></a>
          </li>
        </ul>
      </div>
    </footer>
  </body>
</html>