<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sumercé y tá</title>
    <link rel="stylesheet" href="/static/css/normalize.css" />
    <link rel="stylesheet" href="/static/css/header.css" />
    <link rel="stylesheet" href="/static/css/index.css" />
    <link rel="stylesheet" href="/static/css/footer.css" />
    <link rel="stylesheet" href="/static/css/cart.css" />
    <link rel="stylesheet" href="/static/css/product.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    
    <link
      href="https://fonts.googleapis.com/css2?family=Caveat&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/5cd85102cd.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <header>
      <div class="cabecera">
        <p>Envios a todo Chile</p>
        <p><a href="#">Seguir mi pedido </a> | <a href="/contacto">Contáctanos</a></p>
      </div>
      <div class="cabecera-secundaria">
        <div class="logo-cabecera">
          <div class="bag-carrito">
            <a href="#" class="iconos-header">
              <i class="fas fa-bars"></i>
            </a>
          </div>
          <a href="/" class="logo">
            <img
              src="/static/images/logo_de_inicio.png"
              alt="Logo"
              class="imagen-logo"
          /></a>
          <div class="bag-carrito">
            <a href="" class="iconos-header"><i class="fas fa-search"></i></a>
            <a href="/carrito" class="iconos-header"
              ><i class="fas fa-shopping-bag"></i
            ></a>
          </div>
        </div>
        <nav>
          <a href="/">
            <img
              src="/static/images/logo_de_inicio.png"
              alt="Logo"
              class="imagen-logo"
          /></a>

          <ul class="lista-header">
            <li><a href="/categorias">Ropa</a></li>
            <li><a href="/categorias">Deportivo</a></li>
            <li><a href="/categorias">Accesorios</a></li>
            <li><a href="/login">Mi Cuenta</a></li>
          </ul>
          <div class="lista-header">
            <form>
              <input type="text" class="busqueda" placeholder="Que estas buscando?" />
            </form>
            <a href="/carrito"><i class="fas fa-shopping-bag"></i></a>
          </div>
        </nav>
      </div>
    </header>
    <main>
      <section>
        <div class="carousel"></div>
      </section>
      <section class="copy-visual">
        <div>
          <i class="far fa-credit-card"></i>
          <h5>MEDIOS DE PAGOS</h5>

          <p>Tarjetas de crédito y débito</p>

        </div>
        <div>
          <i class="fas fa-eye-slash"></i>
          <h5>COMPRAS SEGURAS</h5>
          <p>Protejemos tus datos financieros</p>
        </div>
        <div>
          <i class="fas fa-plane-departure"></i>
          <h5>ENVÍOS RÁPIDOS</h5>
          <p>Despachos a todas las regiones</p>
        </div>

      </section>
        <section>
      <div class="copy-recomendados no-view-mobile-web">
        <p>
          <i class="fas fa-award"></i> RECORRE COLOMBIA
          <i class="fas fa-award"></i>
        </p>
        <p>Recomendado para ti</p>
        </section>

    

      <section class="recomendados">
        <div>
          <img src="/static/images/17.png" alt="Jean" />

          <a href="carrito"><button class="btn-add-to-cart">COMPRAR</button></a>
        </div>

        
        <div class="copy-recomendados ">
          
          <p  class="no-tablet">
            <i class="fas fa-award"></i> RECORRE COLOMBIA
            <i class="fas fa-award"></i>
          </br>Recomendado para ti</p>
        </div>
        <div >
          <img src="/static/images/10.png" alt="Jean" class="no-view-mobile"/>
          <a href="carrito"><button class="no-view-mobile btn-add-to-cart">COMPRAR</button></a>
        </div>   


     

      </section>
      <section class="video">
        <iframe
          src="https://www.youtube.com/embed/r6T0J90CZY0"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </section>
      <section class="recomendados">
        <div>

          <img src="/static/images/9.png" alt="Jean"  class="no-view-mobile " /><a href="carrito"><button  class="no-view-mobile btn-add-to-cart">COMPRAR</button></a>

         

        </div>
        <div>
          <img src="/static/images/13.png" alt="Jean" /><a href="carrito"><button class="btn-add-to-cart">COMPRAR</button><a href="carrito"></a>
        </div>
        <div>

          <img src="/static/images/11.png" alt="Jean"  class="no-view-mobile " /><a href="carrito"><button class="no-view-mobile btn-add-to-cart">COMPRAR</button></a>

        </div>
      </section>
    </main>
    <footer>
      <div>
        <h6>Información</h6>
        <ul>
          <li><a href="#">Sobre nosotros</a></li>
          <li><a href="#">politica de datos</a></li>
          <li>
            <a href="#">
              <img src="/static/images/logo_sin_fondo.png" alt="Logo redondo" />
            </a>
          </li>
        </ul>
      </div>
      <div>
        <h6>Servicio al cliente</h6>
        <ul>
          <li><a href="#">¿Cómo comprar?</a></li>
          <li><a href="#">Envios</a></li>
          <li><a href="#">Cambios y devoluciones</a></li>
          <li><a href="#">Guia de tallas</a></li>
          <li><a href="#">Politicas de despacho</a></li>
          <li><a href="#">Terminos y condiciones de compra</a></li>
        </ul>
      </div>
      <div>
        <h6>Contactanos</h6>
        <ul>
          <li><a href="#">Escríbenos a nuestro whatsapp</a></li>
          <li><a href="#">#-####-####</a></li>
          <li><a href="#">Consultas por messenger</a></li>
          <li>
            <a href="mailto:sumercetiendaonline@gmail.com"
              >sumercetiendaonline@gmail.com</a
            >
          </li>
        </ul>
      </div>
      <div>
        <h6>Medios de pago</h6>
        <ul>
          <li>
            <a href="#"
              ><img src="/static/images/webpay.png" alt="Logo Webpay"
            /></a>
          </li>
          <li>
            <a href="#"
              ><img
                src="/static/images/mercadopago.png"
                alt="Logo Mercado Pago"
            /></a>
          </li>
        </ul>
      </div>
    </footer>
  </body>
</html>
