footer {
  margin-top: 20px;
}
footer img {
  width: 150px;
}
h6 {
  text-align: center;
  font-size: 2em;
  margin: 0;
}
footer ul {
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
}
footer li {
  margin: 5px;
  font-size: 1.5em;
  text-align: center;
}
footer div {
  padding-top: 30px;
}

footer a {
  color: #373737;
  text-decoration: none;
}
@media (min-width: 768px) {
  footer {
    display: flex;
    justify-content: space-between;
    padding: 0 5%;
  }
  footer img {
    width: 100px;
  }
  footer li {
    margin: 5% 0;
  }
}
@media (min-width: 1024px) {
  footer {
    justify-content: space-between;
    padding: 0 10%;
  }
  footer li,
  h6 {
    text-align: left;
  }
  footer img {
    width: 150px;
  }
}
