<form action="/products/admproducto/edit" method="POST">
  <fieldset>
    <label for="name">Nombre</label>
    <input type="text" name="name" id="name" placeholder="nombre" />
  </fieldset>
  <fieldset>
    <label for="description">Descripción</label>
    <input
      type="textarea"
      name="description"
      id="description"
      placeholder="descripcion"
    />
  </fieldset>
  <fieldset>
    <label for="photo">Foto</label>
    <input type="file" name="photo" id="photo" accept=".jpg, .png" />
  </fieldset>
  <fieldset>
    <label>Categoría</label>
    <select name="categories">
      <option value="ropa">ropa</option>
      <option value="deportivo">deportivo</option>
      <option value="accesorios">accesorios</option>
    </select>
  </fieldset>
  <fieldset>
    <label for="">Talla</label>
    <input type="checkbox" id="xs" name="sizes" value="xs" />
    <label for="xs"> XS</label>
    <input type="checkbox" id="s" name="sizes" value="s" />
    <label for="s"> S</label>
    <input type="checkbox" id="m" name="sizes" value="m" />
    <label for="m"> M</label>
    <input type="checkbox" id="l" name="sizes" value="l" />
    <label for="l"> L</label>
    <input type="checkbox" id="xl" name="sizes" value="xl" />
    <label for="xl"> XL</label>
    <input type="checkbox" id="xll" name="sizes" value="xll" />
    <label for="xll"> XLL</label>
  </fieldset>
  <fieldset>
    <label>Tonalidad</label>
    <input type="checkbox" id="claro" name="tonalidades" value="claro" />
    <label for="claro"> Claro</label>
    <input type="checkbox" id="medio" name="tonalidades" value="medio" />
    <label for="medio"> Medio</label>
    <input type="checkbox" id="oscuro" name="tonalidades" value="oscuro" />
    <label for="oscuro"> Oscuro</label>
    <input type="checkbox" id="pasteles" name="tonalidades" value="pasteles" />
    <label for="pasteles"> Pasteles</label>
    <input type="checkbox" id="militar" name="tonalidades" value="militar" />
    <label for="militar"> Militar</label>
    <input
      type="checkbox"
      id="multicolor"
      name="tonalidades"
      value="multicolor"
    />
    <label for="multicolor"> Multicolor</label>
    <input
      type="checkbox"
      id="metalizados"
      name="tonalidades"
      value="metalizados"
    />
    <label for="metalizados"> Metalizados</label>
  </fieldset>
  <fieldset>
    <label for="">Tipo</label>
    <input type="checkbox" id="manga-larga" name="type" value="manga-larga" />
    <label for="manga-larga"> Manga larga</label>
    <input type="checkbox" id="deportivas" name="type" value="deportivas" />
    <label for="deportivas"> Deportivas</label>
    <input type="checkbox" id="top" name="type" value="top" />
    <label for="top"> Top</label>
    <input type="checkbox" id="manga-corta" name="type" value="manga-corta" />
    <label for="manga-corta"> Manga corta</label>
    <input type="checkbox" id="sin-manga" name="type" value="sin-manga" />
    <label for="sin-manga"> Sin manga</label>
  </fieldset>
  <label for="price">Precio</label>
  <input type="text" id="price" value="price" />
  <button type="submit" class="button-products">Agregar</button>
</form>
