<footer>
    <div>
      <h6>Información</h6>
      <ul>
        <li><a href="#">Sobre nosotros</a></li>
        <li><a href="#">politica de datos</a></li>
        <li>
          <a href="#">
            <img src="/static/images/logo_sin_fondo.png" alt="Logo redondo" />
          </a>
        </li>
      </ul>
    </div>
    <div>
      <h6>Servicio al cliente</h6>
      <ul>
        <li><a href="#">¿Cómo comprar?</a></li>
        <li><a href="#">Envios</a></li>
        <li><a href="#">Cambios y devoluciones</a></li>
        <li><a href="#">Guia de tallas</a></li>
        <li><a href="#">Politicas de despacho</a></li>
        <li><a href="#">Terminos y condiciones de compra</a></li>
      </ul>
    </div>
    <div>
      <h6>Contactanos</h6>
      <ul>
        <li><a href="#">Escríbenos a nuestro whatsapp</a></li>
        <li><a href="#">#-####-####</a></li>
        <li><a href="#">Consultas por messenger</a></li>
        <li>
          <a href="mailto:sumercetiendaonline@gmail.com"
            >sumercetiendaonline@gmail.com</a
          >
        </li>
      </ul>
    </div>
    <div>
      <h6>Medios de pago</h6>
      <ul>
        <li>
          <a href="#"
            ><img src="/static/images/webpay.png" alt="Logo Webpay"
          /></a>
        </li>
        <li>
          <a href="#"
            ><img
              src="/static/images/mercadopago.png"
              alt="Logo Mercado Pago"
          /></a>
        </li>
      </ul>
    </div>
  </footer>