<header>
  <div class="cabecera">
    <p>Envios a todo Chile</p>
    <p>
      <a href="#">Seguir mi pedido </a> | <a href="/contacto">Contáctanos</a>
    </p>
  </div>
  <div class="cabecera-secundaria">
    <div class="logo-cabecera">
      <div class="bag-carrito">
        <a href="#" class="iconos-header">
          <i class="fas fa-bars"></i>
        </a>
      </div>
      <a href="/" class="logo">
        <img
          src="/static/images/logo_de_inicio.png"
          alt="Logo"
          class="imagen-logo"
      /></a>
      <div class="bag-carrito">
        <a href="" class="iconos-header"><i class="fas fa-search"></i></a>
        <a href="products/carrito" class="iconos-header"
          ><i class="fas fa-shopping-bag"></i
        ></a>
      </div>
    </div>
    <nav>
      <a href="/">
        <img
          src="/static/images/logo_de_inicio.png"
          alt="Logo"
          class="imagen-logo"
      /></a>

      <ul class="lista-header">
        <li><a href="/products/categorias/ropa">Ropa</a></li>
        <li><a href="/products/categorias/deportivo">Deportivo</a></li>
        <li><a href="/products/categorias/accesorios">Accesorios</a></li>
        <li><a href="/users/login">Mi Cuenta</a></li>
      </ul>
      <div class="lista-header">
        <form action="/search?" method="GET">
          <input
            type="text"
            class="busqueda"
            placeholder="Que estas buscando?"
            name="search"
          />
        </form>
        <a href="products/carrito"><i class="fas fa-shopping-bag"></i></a>
      </div>
    </nav>
  </div>
</header>
